<div class="container-fluid">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">Glab</a>
        <ul class="nav navbar-nav">
        {{#foreach navigation}}
            <li class="nav-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    </nav>
</div>
